<!-- HIGHTLIGHT BLOCK -->
        <div class="col-12 col-md-6 p-0">
            <div class="hightlightBlock">

                <a href="">
                    <div class="hightlightBlock__image">
                        <img class="img-fluid"
                             src="{{  section.settings.image_1 | img_url: 'master' }}" alt="" title="">
                    </div>
                    <div class="hightlightBlock__title">
                        <h3>{{  section.settings.image_title_1  }}</h3>
                        <div class="cta">
                            <a class="btn btn-secondary col-6 col-lg-3" href="{{  section.settings.highlight_button_url_1 | url  }}"
                               role="button">{{  section.settings.button_text_1 }}</a>
                        </div>
                    </div>
                </a>

            </div>
        </div>
<!-- END HIGHTLIGHT BLOCK -->

<!-- HIGHTLIGHT BLOCK -->
        <div class="col-12 col-md-6 p-0">
            <div class="hightlightBlock">

                <a href="">
                    <div class="hightlightBlock__image">
                        <img class="img-fluid"
                             src="{{  section.settings.image_2 | img_url: 'master' }}" alt="" title="">
                    </div>
                    <div class="hightlightBlock__title">
                        <h3> {{  section.settings.image_title_2  }}</h3>
                        <div class="cta">
                            <a class="btn btn-secondary col-6 col-lg-3" href="{{  section.settings.highlight_button_url_2 | url }}"
                               role="button">{{  section.settings.button_text_2 }}</a>
                        </div>
                    </div>
                </a>

            </div>
        </div>
<!-- END HIGHTLIGHT BLOCK -->

