
<section class="account pt-5 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3 pb-5 pb-lg-0">
        <aside>
          <h2>Hello {{ customer.first_name | capitalize }}</h2>
          <ul>
            <li><a href="/account" class="active"data-page="account-link-information">Account details</a></li>
          <!--  <li><a href="/account/order" class="" data-page="account-link-orders">My orders</a></li>-->
            <li><a href="/account/addresses" class="" data-page="account-link-delivery">Delivery adress</a></li>
            <li><a href="/account/logout">Logout</a></li>
          </ul>
        </aside>
      </div>



      <!-- START ACCOUNT SECTION -->
      <div class="col-12 col-lg-9 pt-5 pt-lg-0 page pb-5" data-page="account-link-information">
        <h1>Account details</h1>


        <div class="pt-3 pb-5">


          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="input-group pb-3">
                <label for="firstname"> {{ 'customer.register.first_name' | t }}</label>
                <input type="text"
                       name="customer[first_name]"
                       id="FirstName"
                       disabled
                       placeholder="{{ 'customer.register.first_name' | t }}"
                       value="{{ customer.first_name }}"
                       {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
                <br>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="input-group pb-3">
                <label for="lastname">{{ 'customer.register.last_name' | t }}</label>
                <input type="text"
                       name="customer[last_name]"
                       id="LastName"
                       disabled
                       placeholder="{{ 'customer.register.last_name' | t }}"
                       value="{{ customer.last_name }}"
                       {% if form.first_name %}value="{{ form.last_name }}"{% endif %}>
              </div>
            </div>
          </div>
          <div class="input-group pb-3">
            <label for="email">{{ 'contact.form.email' | t }}</label>
            <input type="email" disabled name="email" id="email" value="{{ customer.email }}" placeholder="email">
          </div>

          <!--<div class="input-group pb-3">
            <label for="phone">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" name="phone" id="phone" value="{{ customer.phone }}" placeholder="phone">
          </div> -->

        <!--  <div class="row">
            <div class="col-12 col-lg-6">
              <div class="input-group pb-3">
                <label for="password">{{ 'customer.reset_password.password' | t }}</label>
                <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="input-group pb-3">
                <label for="password__confirm">{{ 'customer.reset_password.password_confirm' | t }}</label>
                <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

              </div>
            </div>
          </div>-->

          <!--<div class="cta">
            <input type="submit" class="btn btn-primary col-6 " value="save">
          </div>-->

          <!-- <form action="" method="" class="pt-3 pb-5">
            <label>NEWSLETTER SUBSCRIPTION</label>
            <div class="input-group">
              <div class="group">

                {% if customer.accepts_marketing %}
                  <input type="checkbox" name="customer[accepts_marketing]" value="true" id="newsletter"
                         class="field__item"
                         data-parsley-required="true" checked>
                {% else %}

                  Don't want to receive cart reminders from us?
                  <a class="btn btn-primary" href="{{ unsubscribe_url }}">Unsubscribe</a>
                {% endif %}

                <label for="newsletter" class="checkbox__label"></label>
                <label for="newsletter" class="field__item">
                  <p>I would like to receive personal commercial communications from Quality Blanks by email.</p>
                </label>
              </div>
            </div>


            <div class="cta">
              <input type="submit" class="btn btn-primary col-6 " value="save">
            </div>
          </form>-->


        </div>






        <!-- START  ORDERS SECTION -->


        <div class="col-12 col-lg-12 pt-5 pt-lg-0 page pl-0" data-page="account-link-orders">
          <h1>Order history</h1>

          <table>
            <tr>
              <th>Order</th>
              <th>Date</th>
              <th>Shipping</th>
              <th class="d-none d-lg-table-cell">Order total</th>
              <th>Status</th>
              <th>&nbsp;</th>
            </tr>

            <!-- start product row -->
            {% for order in customer.orders %}

              <tr>
                <td>#{{ order.order_number }}</td>
                <td>{{ order.created_at | date: "%Y-%m-%d %H:%M" }}</td>
                <td>{{ order.shipping_address.city }}</td>
                <td class="d-none d-lg-table-cell">{{ order.total_price | money_with_currency }}</td>
                <td>{{ order.fulfillment_status }}</td>
                <td><a class="btn btn-primary" href="{{ order.customer_url }}">View</a></td>
                <!--<td><div class="cta pb-3"><a href="{{ order.order_status_url }}" class="btn
                btn-primary">View</a></div></td>-->
              </tr>
            {% endfor %}


            <!-- end product row -->

          </table>






        </div>


        <!-- END ORDERS SECTION -->

      </div>
      <!-- END ACCOUNT SECTION -->










    </div>
  </div>
</section>



