<section class="account pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 pb-5 pb-lg-0">
                <aside>
                    <h2>Hello {{ customer.first_name }}</h2>
                    <ul>
                        <li><a href="/account" class=""data-page="account-link-information">Account details</a></li>
                        <!--<li><a href="/account/orders" class="" data-page="account-link-orders">My orders</a></li>-->
                        <li><a href="/account/addresses" class="active" data-page="account-link-delivery">Delivery
                                adress</a></li>
                        <li><a href="/account/logout">Logout</a></li>
                    </ul>
                </aside>
            </div>




            <!-- START DELIVERY SECTION -->
<div class="col-12 col-lg-9 pt-5 pt-lg-0 page address-list">
    {% if customer.default_address %}
    <h1>{{ 'customer.addresses.title' | t }}</h1>
    {% else %}
        <h1>{{ 'customer.addresses.add_new' | t }}</h1>
    {% endif %}


    <div class="pt-3 pb-5">


        {% if customer.default_address %}

        {% for address in customer.addresses %}


        {%  if customer.addresses %}

        {% if address == customer.default_address %}
            <div class="col-12 col-lg-3" style="border: solid .05rem rgba(0,0,0,.1);">
                <br>
                <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
                <div style="text-transform: uppercase">{{ address | format_address }}</div>

                <div class="pb-3">
                <button  type="button" class="btn btn-primary show-address-form">
                    {{ 'customer.addresses.edit' | t }}
                </button>
                </div>
            </div>
         {% endif %}

        {% else %}

        {%  endif %}

    </div>
</div>









        <div class="col-12 col-lg-9 pt-5 pt-lg-0 page address-form  not-visible">
            {% form 'customer_address', address %}

                <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                <div data-address-fields class="address-form pt-3">

                    <div data-address-fields class="address-form">
                        <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="pb-3">
                            <label for="AddressFirstName_{{ form.id }}">
                                {{ 'customer.addresses.first_name' | t }}*
                            </label>
                            <input type="text"
                                   name="address[first_name]"
                                   id="AddressFirstName_{{ form.id }}"
                                   value="{{ form.first_name }}"
                                   autocapitalize="words"
                                   data-parsley-required="true">
                            </div>
                        </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                            <label for="AddressLastName_{{ form.id }}">
                                {{ 'customer.addresses.last_name' | t }}*
                            </label>
                            <input type="text"
                                   name="address[last_name]"
                                   id="AddressLastName_{{ form.id }}"
                                   value="{{ form.last_name }}"
                                   autocapitalize="words"
                                   data-parsley-required="true">
                                </div>
                        </div>

                            <div class="col-12">
                                <div class="pb-3">
                            <label for="AddressCompany_{{ form.id }}">
                                {{ 'customer.addresses.company' | t }}
                            </label>
                            <input type="text"
                                   name="address[company]"
                                   id="AddressCompany_{{ form.id }}"
                                   value="{{ form.company }}"
                                   autocapitalize="words"
                                   data-parsley-required="false">
                                </div>
                        </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                            <label for="AddressAddress1_{{ form.id }}">
                                {{ 'customer.addresses.address1' | t }}*
                            </label>
                            <input type="text"
                                   name="address[address1]"
                                   id="AddressAddress1_{{ form.id }}"
                                   value="{{ form.address1 }}"
                                   autocapitalize="words"
                                   data-parsley-required="true">
                                </div>

                        </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                            <label for="AddressAddress2_{{ form.id }}">
                                {{ 'customer.addresses.address2' | t }}
                            </label>
                            <input type="text"
                                   name="address[address2]"
                                   id="AddressAddress2_{{ form.id }}"
                                   value="{{ form.address2 }}"
                                   autocapitalize="words"
                                   data-parsley-required="false">
                                </div>

                        </div>

                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                <label for="AddressZip_{{ form.id }}">
                                    {{ 'customer.addresses.zip' | t }}*
                                </label>
                                <input type="text"
                                       name="address[zip]"
                                       id="AddressZip_{{ form.id }}"
                                       value="{{ form.zip }}"
                                       autocapitalize="characters"
                                       data-parsley-required="true">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                            <label for="AddressCity_{{ form.id }}">
                                {{ 'customer.addresses.city' | t }}*
                            </label>
                            <input type="text"
                                   name="address[city]"
                                   id="AddressCity_{{ form.id }}"
                                   value="{{ form.city }}"
                                   autocapitalize="words"
                                   data-parsley-required="true">
                                </div>

                        </div>
                            <div class="col-12">
                                <div class="pb-3">
                                    <div class="selector col-12 p-0">
                            <label for="AddressCountry_{{ form.id }}">
                                {{ 'customer.addresses.country' | t }}*
                            </label>
                                        <select name="address[country]"
                                                id="AddressCountry_{{ form.id }}"
                                                class="address-country-option custom__select"
                                                data-parsley-required="true"
                                                data-default="{{ form.country }}">
                                            {{ country_option_tags }}
                                        </select>


                                    </div>
                                </div>
                            </div>



                            <div class="col-12">
                                <div class="pb-3">
                            <label for="AddressPhone_{{ form.id }}">
                                {{ 'customer.addresses.phone' | t }}
                            </label>
                            <input type="tel"
                                   name="address[phone]"
                                   id="AddressPhone_{{ form.id }}"
                                   value="{{ form.phone }}"
                                   pattern="[0-9\-]*"
                                   data-parsley-required="false">
                                </div>
                        </div>
                            <div class="col-12 pt-3">
                                <button type="submit" class="btn btn-primary col-12 col-lg-3">{{ 'customer.addresses.update' | t}}</button>
                                <button type="button" class="btn btn-primary cancel-edit col-12 col-lg-3" data-address-toggle
                                        data-form-id="{{ form.id }}">
                                    {{ 'customer.addresses.cancel' | t }}
                                </button>
                            </div>
                    </div>



                    </div>

                </div>

            {% endform %}



        {%  endfor %}

            {% else %}



                {% form 'customer_address', customer.new_address %}


                <div data-address-fields class="address-form ">

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressFirstName_{{ form.id }}">
                                        {{ 'customer.addresses.first_name' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[first_name]"
                                           id="AddressFirstName_{{ form.id }}"
                                           value="{{ form.first_name }}"
                                           autocapitalize="words"
                                           data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressLastName_{{ form.id }}">
                                        {{ 'customer.addresses.last_name' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[last_name]"
                                           id="AddressLastName_{{ form.id }}"
                                           value="{{ form.last_name }}"
                                           autocapitalize="words"
                                           data-parsley-required="true">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="pb-3">
                                    <label for="AddressCompany_{{ form.id }}">
                                        {{ 'customer.addresses.company' | t }}
                                    </label>
                                    <input type="text"
                                           name="address[company]"
                                           id="AddressCompany_{{ form.id }}"
                                           value="{{ form.company }}"
                                           autocapitalize="words"
                                           data-parsley-required="false">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressAddress1_{{ form.id }}">
                                        {{ 'customer.addresses.address1' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[address1]"
                                           id="AddressAddress1_{{ form.id }}"
                                           value="{{ form.address1 }}"
                                           autocapitalize="words"
                                           data-parsley-required="true">
                                </div>

                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressAddress2_{{ form.id }}">
                                        {{ 'customer.addresses.address2' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[address2]"
                                           id="AddressAddress2_{{ form.id }}"
                                           value="{{ form.address2 }}"
                                           autocapitalize="words"
                                           data-parsley-required="true">
                                </div>

                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressZip_{{ form.id }}">
                                        {{ 'customer.addresses.zip' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[zip]"
                                           id="AddressZip_{{ form.id }}"
                                           value="{{ form.zip }}"
                                           autocapitalize="characters"
                                           data-parsley-required="true">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="pb-3">
                                    <label for="AddressCity_{{ form.id }}">
                                        {{ 'customer.addresses.city' | t }}*
                                    </label>
                                    <input type="text"
                                           name="address[city]"
                                           id="AddressCity_{{ form.id }}"
                                           value="{{ form.city }}"
                                           autocapitalize="words"
                                           data-parsley-required="true">
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="pb-3">
                                    <div class="selector col-12 p-0">
                                        <label for="AddressCountry_{{ form.id }}">
                                            {{ 'customer.addresses.country' | t }}*
                                        </label>
                                        <select name="address[country]"
                                                id="AddressCountry_{{ form.id }}"
                                                class="address-country-option custom__select"
                                                data-parsley-required="true"
                                                data-default="{{ form.country }}">
                                            {{ country_option_tags }}
                                        </select>


                                    </div>
                                </div>
                            </div>



                            <div class="col-12">
                                <div class="pb-3">
                                    <label for="AddressPhone_{{ form.id }}">
                                        {{ 'customer.addresses.phone' | t }}
                                    </label>
                                    <input type="tel"
                                           name="address[phone]"
                                           id="AddressPhone_{{ form.id }}"
                                           value="{{ form.phone }}"
                                           pattern="[0-9\-]*">
                                </div>
                            </div>


                            <div class="col-12 pt-3">
                                <button type="submit" class="btn btn-primary col-12 col-lg-3">{{ 'customer.addresses.add' | t}}</button>
                            </div>
                        </div>



                    {{ form.errors | default_errors }}

                {% endform %}





                {% endif %}



            </div>
            </div>
        </div>


<!-- END DELIVERY SECTION -->


        </div>

</section>

<script>

  let accountAddressBtn = document.querySelector('.show-address-form');
  let cancelEditAddressBtn = document.querySelector('.cancel-edit');
  accountAddressBtn.addEventListener('click',toggleForm);
  cancelEditAddressBtn.addEventListener('click',toggleForm);

  function toggleForm(){
    let addressForm = document.querySelector('.address-form');
    let addressList = document.querySelector('.address-list');
    addressForm.classList.toggle('not-visible');
    addressList.classList.toggle('not-visible');
  }

</script>