<!-- START REGISTER -->
<section class="register pt-5 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 pb-5">
        <div class="page__title">
          <h1>Write your personal information</h1>
          <!-- start register input fields -->
          <div class="pt-3 pb-5">
            {% form 'create_customer'  %}

              <div class="row">
            <div class="input-group pb-3 col-12 col-lg-6">
              <label for="FirstName" class="label-hidden">
                {{ 'customer.register.first_name' | t }}
              </label>
              <input type="text"
                     name="customer[first_name]"
                     id="FirstName"
                     placeholder="{{ 'customer.register.first_name' | t }}"
                     autofocus
                     {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                     autocapitalize="off" autofocus
                     data-parsley-required="true">


              <br>
            </div>


              <div class="input-group pb-3 col-12 col-lg-6">
                <label for="LastName" class="label-hidden">
                  {{ 'customer.register.last_name' | t }}
                </label>
                <input type="text"
                       name="customer[last_name]"
                       id="LastName"
                       placeholder="{{ 'customer.register.last_name' | t }}"
                       {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                       autocapitalize="off" autofocus
                       data-parsley-required="true">
              </div>
              </div>


            <div class="input-group pb-3">
              <label for="Email" class="label-hidden">
                {{ 'customer.register.email' | t }}
              </label>
              <input type="email"
                     name="customer[email]"
                     id="Email"
                     class="{% if form.errors contains 'email' %}input-error{% endif %}"
                     placeholder="{{ 'customer.register.email' | t }}"
                     value="{% if form.email %}{{ form.email }}{% endif %}"
                     spellcheck="false"
                     autocomplete="off"
                     autocapitalize="off"
                     data-parsley-required="true"
                     data-parsley-type="email">
            </div>




              <div class="input-group pb-3 ">
                <label for="CreatePassword" class="label-hidden">
                  {{ 'customer.register.password' | t }}
                </label>
                <input type="password"
                       name="customer[password]"
                       id="CreatePassword"
                       class="{% if form.errors contains 'password' %}input-error{% endif %}"
                       placeholder="{{ 'customer.register.password' | t }}"
                       data-parsley-required="true">
              </div>


           <div class="input-group">
             <div class="group">
               <input type="checkbox" name="customer[accepts_marketing]" value="false" id="newsletter"
                      class="field__item">
               <label for="newsletter" class="checkbox__label"></label>
               <label for="newsletter" class="field__item">
                 <p>I would like to receive personal commercial communications from Quality Blanks by email.</p>
               </label>
             </div>
            </div>

            <div class="input-group">
              <div class="group">
                <input type="checkbox" name="policy[]" value="false" id="policy" class="field__item "
                       data-parsley-required="true"
                       data-parsley-checkmin="1"
                       data-parsley-class-handler=".checkbox__label__policy">
                <label for="policy" class="checkbox__label checkbox__label__policy"></label>
                <label for="policy" class="field__item">
                  <p>I have read and understood the Privacy and Cookie Policy .</p>
                </label>
              </div>
            </div>

            <div class="cta">
              <input type="submit" class="btn btn-primary" value="{{ 'customer.register.submit' | t }}">
            </div>

              {{ form.errors | default_errors }}

            {%  endform %}
          </div>
          <!-- end register input fields -->
        </div>
      </div>

    </div>
  </div>
</section>

<!-- END REGISTER -->

