<!-- START HEADER -->
<header class="header">
  <!-- start header usp -->
  <div class="container-fluid pb-4">
  <div class="header__usp col-12">
  <p>Free worldwide shipping on all orders over 250 eur</p>
  </div>
  </div>
  <!-- end header usp -->

  <nav class="header__navigation">
    <div class="mobile__menu d-block d-xl-none">
      <svg class="hamburger__menu" width="24" height="13" viewBox="0 0 24 13" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path class="menu" d="M0,12.1h24 M0,6.3h24H0z M0,0.5h24H0z" stroke="white"
              stroke-miterlimit="10"/>
        <path class="cross d-none"
              d="M16,0.5L15.5,0L8,7.5L0.5,0L0,0.5L7.5,8L0,15.5L0.5,16L8,8.5l7.5,7.5l0.5-0.5L8.5,8L16,0.5z"  stroke="black"
              stroke-miterlimit="10"/>
      </svg>
    </div>


    <!-- start mobile offcanvas menu -->
    <div class="offcanvas__menu">
      <div class="offcanvas__inner mt-3">


        <!-- start list item -->
        <div class="accordion pt-5">
          <div class="accordion__title">
            <strong>Collections <span class="float-right">+</span></strong>
          </div>
          <div class="accordion__content">
            <ul>
              {% for link in linklists.shop-menu.links %}
                  <li><a href= "{{ link.url }}" class="strong">{{ link.title | downcase}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- end list item -->


        <!-- start list item -->
        <div class="accordion pt-2">
          <div class="accordion__title">
            <strong>CATEGORIES <span class="float-right">+</span></strong>
          </div>
          <div class="accordion__content">
            <ul>
              {% for collection in collections %}
                <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- end list item -->


        <!-- start list item -->
        <div class="accordion pt-2">
          <div class="accordion__title">
            <strong>Lookbook <span class="float-right">+</span></strong>
            <div class="accordion__content">
              <ul>
                <li><a href="#">QB FW20</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end list item -->


        <!-- start list item -->
        <div class="accordion pt-2">
          <div class="accordion__title">
            <a href="/collections/sale"><strong class="sale">Sale</strong><strong><span
                        class="float-right">+</span></strong></a>
          </div>
          <div class="accordion__content">
            <ul>
              {% for collection in collections %}
                <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- end list item -->

        <!-- start list item -->
        <div class="accordion pt-2">
          <div class="accordion__title">
            <a href="/account"><strong>Account</strong></a>
          </div>
        </div>
        <!-- end list item -->

        <ul class="shop__languages__currencies pt-2">
          <li>
            <a href="/nl" class="active">NL</a>
            <a href="/us" class="">US</a>
          </li>
          <li>
            <a href="https://www.baskets-store.com/nl/session/currency/eur/" class="active">EUR</a>
            <a href="https://www.baskets-store.com/nl/session/currency/gbp/" class="">GBP</a>
            <a href="https://www.baskets-store.com/nl/session/currency/usd/" class="">USD</a>
          </li>
        </ul>




      </div>
    </div>
    <!-- end mobile offcanvas menu -->


    <ul class="main__menu d-none d-xl-block">


      <li><a href="/collections/all"><span>+ </span>Shop</a>

        <div class="dropdownmenu row">
          <div class="col-12 p-0">

            <ul class="dropdownmenu__list">
              <div class="row">
                <div class="col-3">
                  {% for link in linklists.shop-menu.links %}
                    {%  if link.title == "SALE" %}
                      <li><a href= "{{ link.url }}" class="strong sale">{{ link.title | downcase }}</a></li>
                    {% else %}
                      <li><a href= "{{ link.url }}" class="strong">{{ link.title | downcase }}</a></li>
                      {% endif %}

                  {% endfor %}
                </div>

                <div class="col-2">
                  <li class="strong">Categories</li>
                  {% for collection in collections  limit:4 %}
                    <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
                  {% endfor %}
                </div>

                <div class="col-2">
                  <li><a>&nbsp;</a></li>
                  {% for collection in collections limit:4 offset:4 %}
                    <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
                  {% endfor %}
                </div>

                <div class="col-2">
                  <li><a>&nbsp;</a></li>
                  {% for collection in collections  limit:4 offset:8 %}
                    <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
                  {% endfor %}
                </div>

                <div class="col-2">
                  <li><a>&nbsp;</a></li>
                  {% for collection in collections  limit:4 offset:12 %}
                    <li><a href="{{ collection.url }}">{{ collection.title | downcase}}</a></li>
                  {% endfor %}
                </div>

              </div>
            </ul>
            <hr>
          </div>

        </div>
      </li>

      <li><a href="/pages/about"><span>+ </span>About</a></li>
      <li><a href="/pages/lookbook"><span>+ </span>Lookbook</a></li>

    </ul>

    <div class="header__logo text-center">

      <div class="header__searchbar">
        <form id="search" method="get" action="/search">
          <div class="input__group">
            <input type="text" class="header__searchfield" name="q" placeholder="search" value="{{ search.terms | escape }}">
            <input type="hidden" name="type" value="product" />
            <span class="input__group--addon">

                        <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" class="header__loupe" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     x="0px"
     y="0px"
     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path class="st0" d="M508.9,493.8L353.1,338c32.3-35.9,52.2-83.3,52.2-135.3C405.3,90.9,314.4,0,202.7,0S0,90.9,0,202.7
			s90.9,202.7,202.7,202.7c52.1,0,99.4-19.9,135.3-52.2l155.8,155.8c2.1,2.1,4.8,3.1,7.6,3.1s5.5-1,7.6-3.1
			C513,504.7,513,498,508.9,493.8z M202.7,384c-100,0-181.3-81.3-181.3-181.3S102.7,21.3,202.7,21.3S384,102.7,384,202.7
			S302.7,384,202.7,384z"/>
	</g>
</g>
</svg>

                    </span>
          </div>
        </form>
      </div>

      <a href="/">
        <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 140.5 8.7" style="enable-background:new 0 0 140.5 8.7;" xml:space="preserve">

                <title>QB logo1</title>
          <path class="st0" d="M7,7.7l1,1L8.6,8l-1-1c0.6-0.8,1-1.7,1-2.7C8.6,1.9,6.7,0,4.4,0S0.1,1.9,0.1,4.2c0,2.4,1.8,4.3,4.2,4.3h0.1
	C5.3,8.6,6.2,8.3,7,7.7 M1.2,4.3c0-1.7,1.4-3.1,3.1-3.1s3.1,1.4,3.1,3.1l0,0c0,0.7-0.2,1.4-0.7,2l-1-1L5,5.9l1,1
	C5.5,7.3,4.9,7.5,4.2,7.5C2.5,7.5,1.1,6,1.1,4.3C1.2,4.3,1.2,4.3,1.2,4.3"/>
          <path class="st0" d="M20.3,5.5V0.1h-1.2v5.3c0.1,1.1-0.8,2-1.8,2c-0.1,0-0.2,0-0.3,0c-1,0.1-2-0.6-2.1-1.7c0-0.1,0-0.2,0-0.3V0.1
	h-1.2v5.4c0.1,1.8,1.6,3.2,3.5,3.1C18.9,8.5,20.2,7.2,20.3,5.5"/>
          <path class="st0" d="M27,6.1h3.1L31,8.5h1.2l-3-8.3H28l-3,8.3h1.2L27,6.1z M28.2,2.5c0.1-0.4,0.3-1.2,0.3-1.2l0,0
	c0,0,0.2,0.8,0.3,1.2l0.9,2.6h-2.5L28.2,2.5z"/>
          <polygon class="st0" points="41.8,7.4 38,7.4 38,0.2 36.9,0.2 36.9,8.5 41.8,8.5 "/>
          <rect x="46.7" y="0.2" class="st0" width="1.2" height="8.3"/>
          <polygon class="st0" points="52.5,1.2 55.4,1.2 55.4,8.5 56.6,8.5 56.6,1.2 59.4,1.2 59.4,0.2 52.5,0.2 "/>
          <path class="st0" d="M68.8,0.1l-1.5,2.7c-0.2,0.3-0.4,0.7-0.5,1l0,0c0,0-0.2-0.6-0.5-1l-1.6-2.7h-1.3l2.8,4.8v3.5h1.2V4.9l2.8-4.8
	C70.2,0.1,68.8,0.1,68.8,0.1z"/>
          <path class="st0" d="M84.9,4.1L84.9,4.1c0.6-0.4,1-1.1,1-1.8c0-1.2-1-2.1-2.1-2.1c-0.1,0-0.2,0-0.3,0h-2.9v8.3h3
	c1.3,0.2,2.5-0.8,2.7-2.1c0-0.1,0-0.2,0-0.3C86.3,5.2,85.7,4.4,84.9,4.1 M83.5,1.2c0.6-0.1,1.2,0.4,1.2,1c0,0.1,0,0.1,0,0.2
	c0,0.6-0.4,1.2-1.1,1.2h-0.1h-1.8V1.1L83.5,1.2z M83.6,7.5h-1.9V4.6h1.9c0.7,0,1.4,0.5,1.4,1.3V6c0.1,0.7-0.5,1.4-1.2,1.4
	C83.8,7.5,83.7,7.5,83.6,7.5"/>
          <polygon class="st0" points="92.8,0.1 91.6,0.1 91.6,8.5 96.5,8.5 96.5,7.4 92.8,7.4 "/>
          <path class="st0" d="M103.4,0.1l-3,8.3h1.2l0.8-2.4h3.1l0.8,2.4h1.2l-3-8.3C104.5,0.1,103.4,0.1,103.4,0.1z M102.8,5.1l0.9-2.6
	c0.1-0.4,0.3-1.2,0.3-1.2l0,0c0,0,0.2,0.8,0.3,1.2l0.9,2.6H102.8z"/>
          <path class="st0" d="M117.9,5.5c0,0.5,0.1,1.2,0.1,1.2l0,0c-0.2-0.4-0.4-0.8-0.7-1.2l-3.7-5.4h-1.2v8.3h1.2V3.1
	c0-0.5-0.1-1.2-0.1-1.2l0,0c0.2,0.4,0.4,0.8,0.7,1.2l3.7,5.4h1.1V0.1h-1.2L117.9,5.5L117.9,5.5z"/>
          <polygon class="st0" points="128.2,4.1 130.7,0.1 129.4,0.1 127.3,3.6 126.1,3.6 126.1,0.1 124.9,0.1 124.9,8.5 126.1,8.5
	126.1,4.6 127.3,4.6 129.5,8.5 130.8,8.5 "/>
          <path class="st0" d="M136.5,2.3c0.1-0.7,0.7-1.3,1.5-1.2l0,0c0.7,0,1.3,0.3,1.8,0.7l0.5-1c-0.7-0.6-1.5-0.9-2.4-0.8
	c-1.4-0.1-2.6,0.9-2.7,2.2v0.1c0,2.6,4,2.2,4,4c0,0.7-0.6,1.3-1.3,1.2l0,0c-0.8,0-1.6-0.4-2.1-0.9l-0.7,0.9c0.7,0.7,1.7,1.1,2.8,1.1
	c1.3,0.1,2.5-0.8,2.6-2.1c0-0.1,0-0.1,0-0.2C140.6,3.6,136.6,4,136.5,2.3"/>
</svg>

      </a>


    </div>
    <div class="header__usernav">
      <ul class="text-right main__menu">
        <li class="d-none d-xl-inline-block header__usernav--search"><a href="#"><span>+ </span>search</a></li>
        <li class="d-none d-xl-inline-block"><a href="/account"><span>+ </span>account</a></li>
        <li class="d-none d-xl-inline-block"><a href="/cart"><span>+ </span>cart (<span
                    class="cart__count cart-count">{{ cart.item_count }}</span>)</a></li>
        <li class="d-inline-block d-xl-none mobile__search">

          <div class="search">
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg class="header__loupe" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

		<path class="st0" d="M508.9,493.8L353.1,338c32.3-35.9,52.2-83.3,52.2-135.3C405.3,90.9,314.4,0,202.7,0S0,90.9,0,202.7
			s90.9,202.7,202.7,202.7c52.1,0,99.4-19.9,135.3-52.2L493.8,509c2.1,2.1,4.8,3.1,7.6,3.1s5.5-1,7.6-3.1
			C513,504.7,513,498,508.9,493.8z M202.7,384c-100,0-181.3-81.3-181.3-181.3S102.7,21.3,202.7,21.3S384,102.7,384,202.7
			S302.7,384,202.7,384z"/>

</svg>

          </div>
        </li>
        <li class="d-inline-block d-xl-none header__cart">
          <a href="/cart">
            <svg id="cart__menu" viewBox="0 0 19 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path d="M2.63527 7.17969H16.1561L17.5998 20.3796H1.09985L2.63527 7.17969Z" stroke="white"
                      stroke-miterlimit="10"/>
                <path d="M10.3697 1.67969H8.33026C6.76946 1.67969 5.5 3.42968 5.5 5.55468V7.17967H13.2V5.55468C13.2 3.42968 11.9305 1.67969 10.3697 1.67969Z"
                      stroke="white" stroke-miterlimit="10"/>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="18.6999" height="20.8999" fill="white" transform="translate(0 0.57959)"/>
                </clipPath>
              </defs>
            </svg>
            <span class="cart__amount cart-count">{{ cart.item_count }}</span>
          </a>

        </li>
      </ul>
    </div>
  </nav>


</header>
<!-- END HEADER -->

{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "cs": "Zarovnání loga",
        "da": "Logojustering",
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "es": "Alineación de logo",
        "fi": "Logon tasaus",
        "fr": "Alignement du logo",
        "it": "Allineamento logo",
        "ja": "ロゴアラインメント",
        "ko": "로고 정렬",
        "nb": "Logojustering",
        "nl": "Logo-uitlijning",
        "pl": "Wyrównanie logo",
        "pt-BR": "Alinhamento do logotipo",
        "pt-PT": "Alinhamento do logótipo",
        "sv": "Logojustering",
        "th": "การจัดวางโลโก้",
        "tr": "Logo hizalaması",
        "vi": "Căn chỉnh logo",
        "zh-CN": "logo 对齐方式",
        "zh-TW": "商標對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "cs": "Doleva",
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pl": "Do lewej",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "tr": "Sol",
            "vi": "Bên trái",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "center",
          "label": {
            "cs": "Na střed",
            "da": "Centreret",
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fi": "Keskitetty",
            "fr": "Centré",
            "it": "Centrato",
            "ja": "中央揃え",
            "ko": "센터 맞추기",
            "nb": "Sentrert",
            "nl": "Gecentreerd",
            "pl": "Wyśrodkowane",
            "pt-BR": "Centralizado",
            "pt-PT": "Centrado",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "tr": "Orta",
            "vi": "Giữa",
            "zh-CN": "居中",
            "zh-TW": "置中"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga",
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pl": "Niestandardowa szerokość logo",
        "pt-BR": "Largura do logotipo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "tr": "Özel logo genişliği",
        "vi": "Chiều rộng logo tùy chỉnh",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "cs": "Panel oznámení",
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pl": "Pasek ogłoszeń",
        "pt-BR": "Barra de avisos",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "tr": "Duyuru çubuğu",
        "vi": "Thanh thông báo",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "cs": "Zobrazit oznámení",
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pl": "Pokaż ogłoszenie",
        "pt-BR": "Exibir comunicado",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "tr": "Duyuruyu göster",
        "vi": "Hiển thị thông báo",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "cs": "Jen domovská stránka",
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain etusivu",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "nb": "Kun på startsiden",
        "nl": "Alleen homepage",
        "pl": "Tylko strona główna",
        "pt-BR": "Apenas na página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "tr": "Yalnızca ana sayfa",
        "vi": "Chỉ trang chủ",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "cs": "Tady můžete zadat oznámení",
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fi": "Ilmoita jotakin tässä",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "ko": "여기에 공지하십시오",
        "nb": "Kunngjør noe her",
        "nl": "Kondig hier iets aan",
        "pl": "Ogłoś coś tutaj",
        "pt-BR": "Anuncie algo aqui",
        "pt-PT": "Anunciar algo aqui",
        "sv": "Meddela något här",
        "th": "ประกาศข้อความที่นี่",
        "tr": "Buraya bir duyuru ekleyin",
        "vi": "Thông báo điều gì đó tại đây",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "cs": "Odkaz",
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "tr": "Bağlantı",
        "vi": "Liên kết",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "cs": "Volitelné",
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pl": "Opcjonalnie",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "tr": "İsteğe bağlı",
        "vi": "Không bắt buộc",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Panel",
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "nb": "Felt",
        "nl": "Balk",
        "pl": "Pasek",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "tr": "Çubuk",
        "vi": "Thanh",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
