<!-- START CONTENT -->
<section class="category pt-5 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block">
        <aside>
          <h2>INFO</h2>
          <ul>
            {% for link in linklists.content-menu.links %}
              <li><a href="{{  link.url }}" {%  if page.url == link.url %}class="active"{% endif %}>{{  link.title }}</a></li>
            {% endfor %}



          </ul>
        </aside>
      </div>
      <div class="col-12 col-lg-9">
        <article>
          <header>
            {% if page.title == "FAQ" %}
               <h1 style="text-transform: uppercase">{{ page.title }}</h1>
            {% else %}
              <h1>{{ page.title | replace: '-', ' '}}</h1>
            {% endif %}
          </header>

          <div class="article__content">

            <p>{{ page.content | raw }}</p>

          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- END CONTENT -->