<!-- START PRODUCT DETAIL -->
<section class="productDetail pt-5 pb-5">
  <div class="container-fluid">


    <div class="row">

      <!-- START  PRODUCT IMAGES -->
      <div class="col-sm-12 col-lg-7 col-md-7 p-0 pl-lg-3 pt-lg-0 pl-md-3 pt-md-0">

        <div class="col-12 p-0">


          <!-- desktop -->
          <div class="row mx-0 product__details__images--desktop d-none d-lg-flex d-md-flex">

            {% for image in product.images %}
              <div class="col-6 p-0 pr-2 pb-2">
                <img src="{{ image.src | product_img_url: '1536x2048' }}" class="img-fluid img-zoomable" alt="{{ product.title }}">
              </div>
            {% endfor %}

          </div>
          <!-- end desktop -->


          <!-- Start mobile product carousel -->
          <div class="row mx-0 product__details__images--mobile d-block d-lg-none d-md-none pb-3 pt-3">

            <div class="owl-carousel">

              <!-- START OWL SLIDE ITEM -->

              {% for image in product.images %}
                <div class="item d-flex align-items-center cover">
                  <div class="col-12 static p-0">
                    <img src="{{ image.src | product_img_url: '1536x2048' }}" class="img-fluid" alt="{{ product
                    .title }}">
                  </div>
                </div>
              {% endfor %}

              <!-- END OWL SLIDE ITEM -->

            </div>
          </div>
          <!-- End mobile product carousel -->



        </div>
      </div>
      <!-- END PRODUCT IMAGES -->


      <!-- START PRODUCT INFO -->
      <div class="col-12 col-lg-5 col-md-5">
        <div class="col-12  product__details p-0 pt-3 pt-lg-0 pt-md-0">
          <h1>{{ product.title }}</h1>
          <div class="price">{{ product.price | money_with_currency}}</div>


          <div class="product__description pt-4">

            <p>
              {{ product.description }}
            </p>

           <!-- <p>Model is 185 cm tall, weighs 75 kg and wears size medium.</p> -->

           <!-- <ul class="product__usp  d-flex pt-3 pb-3">
              <li>+ style <span>QB24</span></li>
              <li>+ color <span>Black</span></li>
              <li>+ fabric <span>Polyester</span></li>
            </ul>-->

          </div>

          <!-- start product variants -->
          <ul class="product__variants pt-3">
            <li><a href="https://qualityblanks.com/collections/longsleeves/products/qb51-longsleeve-polo-black"></a></li>
            <li><a href="https://qualityblanks.com/collections/longsleeves/products/qb51-longsleeve-polo-burgundy-red"></a></li>
            <li><a href="https://qualityblanks.com/collections/longsleeves/products/qb51-longsleeve-polo-dark-sapphire"></a></li>
            <li><a href="https://qualityblanks.com/collections/longsleeves/products/qb51-longsleeve-polo-dark-teal"></a></li>
            <li><a href="https://qualityblanks.com/collections/longsleeves/products/qb51-longsleeve-polo-white"></a></li>
          </ul>
          <!-- end product variants -->


          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical pt-3">
            {% if product.variants.size > 1 %}
              {% for variant in product.variants  %}
                {% if variant.available %}
                  <input type="radio" name="id" class="variant__radio mt-2" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
                  <label for="radio_{{ variant.id }}" class="variant__radio__label">
                      {% if variant.title contains "Small" %}
                        S
                        {% elsif variant.title contains "Medium" %}
                        M
                        {% elsif variant.title contains "XLarge" %}
                        XL
                        {% elsif variant.title contains "Large" %}
                        L
                      {% else %}
                        {{variant.title}}
                      {% endif %}
                  </label>
                {% endif %}
              {% endfor %}
            {% else %}
              {% if variant.available %}
                {% for variant in product.variants  %}
                  <input type="radio" name="id" class="variant__radio mt-2" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
                {% endfor %}
              {% endif %}
            {% endif %}
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="d-none">

            <div class="cta pt-3">
              {% if product.available %}
                <button type="submit" name="add" id="AddToCart"
                        class="btn btn-primary col-12 col-lg-9 col-md-12">
                  {{ "ADD TO CART " }}
                </button>
                      {% else %}
                        <button type="submit" name="add" id="AddToCart"
                                class="btn btn-primary col-12 col-lg-9 col-md-12"{{ "disabled" }}>
                          {{ "OUT OF STOCK " }}
                        </button>
                      {% endif %}

            </div>
          </form>



          <!-- start product accordion -->
          <div class="accordion pt-5">
            <div class="accordion__title">
              <strong>Shipping <span class="float-right">+</span></strong>
            </div>
            <div class="accordion__content mt-3">
              <p>
                We offer free shipping within The Netherlands.
                For all other countries in the World please click <a
                        href="/pages/frequently-asked-questions">here</a> or visit our FAQ.
              </p>
            </div>
          </div>


          <div class="accordion">
            <div class="accordion__title">
              <strong>Size and fit <span class="float-right">+</span></strong>
            </div>
            <div class="accordion__content mt-3">
              <table class="esc-size-guide--table"><tr class="esc-size-guide--row"><th class="esc-size-guide--heading esc-size-guide--col1 esc-size-guide--row1"><span class="esc-size-guide--cell-type--text">Size:</span></th><td class="esc-size-guide--cell esc-size-guide--col2 esc-size-guide--row1"><span class="esc-size-guide--cell-type--text">S</span></td><td class="esc-size-guide--cell esc-size-guide--col3 esc-size-guide--row1"><span class="esc-size-guide--cell-type--text">M</span></td><td class="esc-size-guide--cell esc-size-guide--col4 esc-size-guide--row1"><span class="esc-size-guide--cell-type--text">L</span></td><td class="esc-size-guide--cell esc-size-guide--col5 esc-size-guide--row1"><span class="esc-size-guide--cell-type--text">XL</span></td></tr><tr class="esc-size-guide--row"><th class="esc-size-guide--heading esc-size-guide--col1 esc-size-guide--row2"><span class="esc-size-guide--cell-type--text">1/2 Chest</span></th><td class="esc-size-guide--cell esc-size-guide--col2 esc-size-guide--row2"><span class="esc-size-guide--cell-type--text">51</span></td><td class="esc-size-guide--cell esc-size-guide--col3 esc-size-guide--row2"><span class="esc-size-guide--cell-type--text">54</span></td><td class="esc-size-guide--cell esc-size-guide--col4 esc-size-guide--row2"><span class="esc-size-guide--cell-type--text">57</span></td><td class="esc-size-guide--cell esc-size-guide--col5 esc-size-guide--row2"><span class="esc-size-guide--cell-type--text">60</span></td></tr><tr class="esc-size-guide--row"><th class="esc-size-guide--heading esc-size-guide--col1 esc-size-guide--row3"><span class="esc-size-guide--cell-type--text">Length</span></th><td class="esc-size-guide--cell esc-size-guide--col2 esc-size-guide--row3"><span class="esc-size-guide--cell-type--text">72</span></td><td class="esc-size-guide--cell esc-size-guide--col3 esc-size-guide--row3"><span class="esc-size-guide--cell-type--text">74</span></td><td class="esc-size-guide--cell esc-size-guide--col4 esc-size-guide--row3"><span class="esc-size-guide--cell-type--text">76</span></td><td class="esc-size-guide--cell esc-size-guide--col5 esc-size-guide--row3"><span class="esc-size-guide--cell-type--text">78</span></td></tr><tr class="esc-size-guide--row"><th class="esc-size-guide--heading esc-size-guide--col1 esc-size-guide--row4"><span class="esc-size-guide--cell-type--text">Sleeve Length</span></th><td class="esc-size-guide--cell esc-size-guide--col2 esc-size-guide--row4"><span class="esc-size-guide--cell-type--text">64</span></td><td class="esc-size-guide--cell esc-size-guide--col3 esc-size-guide--row4"><span class="esc-size-guide--cell-type--text">66</span></td><td class="esc-size-guide--cell esc-size-guide--col4 esc-size-guide--row4"><span class="esc-size-guide--cell-type--text">68</span></td><td class="esc-size-guide--cell esc-size-guide--col5 esc-size-guide--row4"><span class="esc-size-guide--cell-type--text">70</span></td></tr></table>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion__title">
              <strong>Returns <span class="float-right">+</span></strong>
            </div>
            <div class="accordion__content mt-3">
              <p>You have 30 days to return your order. Be aware that the costs of the shipping to our
                warehouse must be paid by the customer. Please ensure that all items are returned clean,
                unworn and have all of their tags and original packaging.
                <br>Underwear can not be returned.
            </div>
          </div>

          <!-- end product accordion -->


        </div>
      </div>
      <!-- END PRODUCT INFO -->
    </div>
  </div>
</section>

{% section 'product-recommendations' %}


<!-- END PRODUCT DETAIL -->


<script>
  // Listen to images after DOM content is fully loaded
  document.addEventListener('DOMContentLoaded', function () {
    new Zooming().listen('.img-zoomable')
  })
</script>